
/*
 * Grid
 * @author mfyance
 */
body{
	font-family: var(--font-primary);
	background-color: #ffffff;
}
.box-card{
	padding: var(--padding-20);
	box-shadow: 2px 2px 13px #00000029;
	border-radius: 20px;
	width: 100%;
	background-color: #fff;
	font: 1.7rem var(--font-primary);
}




.grid-card{
	width: 100%;
	/* overflow: auto; */
}

.grid{
	width: 100%;
	box-shadow: 2px 2px 13px #00000029;
	overflow: auto;
}
.grid-column--is-center{
	text-align: center !important;
}
.grid-column--is-left{
	text-align: left !important;
}
.grid-column--is-right{
	text-align: right !important;
}
.grid-column--is-small{
	width: 80px !important;
}
.grid-column--is-extrasmall{
	width: 40px !important;
}
.form-checkbox--is-center{
	position: relative;
	left: -4px
}


.grid-thead{
	/* border-bottom: 1px solid #000; */
	font-weight: bolder;
}
.grid-thead-th,
.grid-tbody-td{
	padding: 10px;
	vertical-align: middle;
}
.grid-tbody-td{
	/* border-right: 1px solid #000; */
	/* border-bottom: 1px solid #000; */
	/* font-family: arial */
}
.grid-thead-th{
	background: #dbdbdb;
	color: black;
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
}

.grid-tbody-tr:nth-child(even){
	background: #F1F1F1;
}
.grid-tbody-tr:nth-child(odd){
	background: #fff;
}



.grid-icon:hover{
	color: var(--color-secondary)
}
.grid-icon{
	cursor: pointer;
	color: var(--color-primary);
	transition: all .3s ease
}


everis-table{
	display: block;
	width: 100%;
}





@media only screen and (max-width: 1000px) {    

	everis-table{
		/* overflow: auto; */
	}
	.grid{
		width: 1100px;
	}
	everis-tooltip-content{
		position: relative;
		top: inherit;
		left: inherit;
		opacity: 1;
		transform: scale(1);
		background: inherit;
		padding: 2px;
		box-shadow: inherit;
	}
	.grid-icon--is-more{
		display: none !important;
	}
	
}



::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f8f8f8;
}

::-webkit-scrollbar{
	width: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: #e0e0e0;
}