/*
 * Core
 * @author mfyance
 */

html {
	font-size:62.5%;
}
body{
	font-family: '';
	background-color: white;
}

main-page{
	display: flex;
	flex-direction: column;
	background: var(--color-grey-light);
	width: 100%;
}
.app-header{
	
	display: flex;
		
	justify-content: space-between;
}

.app-loadpage iframe{
	width: 100%;
    height: calc(100% + 100px);
    top: -100px;
    position: absolute;
}
.app-loadpage{
    overflow: hidden !important;
    position: relative;
}
.app-logo{
	
	width: 250px;
		
	display: flex;
		
	justify-content: center;
		
	align-items: center;
		
	padding: 13px 10px;
		
	background-color: white;
}
.app-aside{	
	width: 100%;
		
	max-width: 250px;
		
	background: var(--color-grey-aside);
		
	display: flex;
		
	flex-direction: column;
		
	min-height: calc(100vh - 75px);
		
	position: relative;
}
.app-main{
	width: 100%;
	padding: var(--padding-20);
}
aside-title{
	display: block;
	padding: 15px;
	text-align: center;
	color: var(--color-purple-aside);
	font: 1.6rem var(--font-secondary);
}
.aside-logo{
	width: 150px;
	margin: 0 auto;
	position: absolute;
	bottom: 8px;
	left: calc(50% - 75px);
}

.app-logo-img--is-mobile{
	display: none;
    width: 120px;
    padding: 20px;
}
.app-logo-img{
	width: 100%;
	max-width: 200px;
}
.app-options-burger:hover{
	color: var(--color-secondary);
}
.app-options-burger{
	color: var(--color-grey-medium);
	transition: all .3s ease;
	cursor: pointer;
}
.app-options{
	width: calc(100% - 550px);
	background-color: var(--color-skyblue);
	display: flex;
	justify-content: space-between;
	padding: var(--padding-10);
	align-items: center;
}
.app-profile{
	width: 300px;
	display: flex;
	justify-content: center;
}


app-content{
	display: flex;
}


app-title{
	display: block;
	margin-top: var(--padding-20);
	margin-bottom: var(--padding-20);
}
.app-title-h1{
	font: 2.5rem var(--font-primary);
	color: var(--color-grey-aside);
	text-transform: uppercase;
	position: relative;
	padding-left: 25px;
}
.app-title-h1:before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 25px;
	position: absolute;
	top: 4px;
	left: 0;
	background-image: url(../img/icons/icon-entel.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}



.site--is-mobile .profile-text,
.site--is-mobile .app-logo-img,
.site--is-mobile .button-tab-content-a:after,
.site--is-mobile .button-tab-name{
	display: none;
}
.site--is-mobile .button-tab{
	text-align: center !important;
	justify-content:;
}
.site--is-mobile .button-tab-content-li{
	padding: 0
}
.site--is-mobile .button--is-arrow{
	right: 4px;
	font-size: 25px !important;
	top: calc(50% - 12px);
}
.site--is-mobile .app-logo-img--is-mobile{
	display: block;
}

.site--is-mobile .app-logo,
.site--is-mobile .app-aside{
	width: 100px;
	min-width: 100px;
	max-width: 100px;
}
.site--is-mobile .app-options{
	width: 100%
}
.site--is-mobile aside-title{
	font-size: 1.4rem;
}
.site--is-mobile .profile,
.site--is-mobile .profile-photo{
	width: 100%;
	display: flex;
	max-width: 100%;
	justify-content: center;
	align-items: center;
}


@media only screen and (max-width: 1000px) {  
	.profile-text,
	.app-logo-img,
	.button-tab-content-a:after,
	.button-tab-name{
		display: none;
	}


	.button-tab{
		text-align: center !important;
	}
	.button-tab-content-li{
		padding: 0
	}
	.button--is-arrow{
		right: -2px
	}
	.app-logo-img--is-mobile{
		display: block;
	}

	.app-logo,
	.app-aside{
		width: 120px;
		min-width: 120px;
		max-width: 120px;
	}
	.app-options{
		width: 100%
	}
	.profile,
	.profile-photo{
		width: 100%;
		display: flex;
		max-width: 100%;
		justify-content: center;
		align-items: center;
	}
}