

.loading-img{
	width: 110px;
	height: 110px;
	display: inline-block;
}
loading{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffffe0;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
    height: 100%;
    align-items: center;
}
