
my-modal{
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
}
my-modal[modal-status="true"]{
	opacity: 1;
	visibility: visible !important;
	width: 100vw;
	height: 100vh;
	background: #2727279c;
	z-index: 5;
}
my-modal[modal-status="false"]{	
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	background: transparent;
    z-index: -5;
}

[modal-status="true"] modal-box{	
	transform: translate(-50%, -50%) scale(1);
}

[modal-status="false"] modal-box{	
	transform: translate(-50%, -50%) scale(0);
}

modal-title{
	background: var(--color-secondary);
	padding: 20px;
	font: 18px var(--font-primary);
	color: white;
	text-transform: uppercase;
}
modal-content{
	background: #fff;
	padding: 20px;
	font: 16px var(--font-primary);
	flex-grow: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

modal-box{
	position: absolute;
	top: 50%;
	left: 50%;	
	z-index: 7;
	box-shadow: 0 2px 7px #8a8a8a;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	overflow: hidden;
	-webkit-transition: all .2s ease .1s;
    -o-transition: all .2s ease .1s;
    transition: all .2s ease .1s;
}
modal-close{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 21px;
    right: 13px;
    cursor: pointer;
}


.modal-flex {
 	display: flex;
 	flex-direction: column;
 	width: 100%;
}

[modal-type="crear"] modal-box{
	/* min-width: 450px; */
	min-height: 180px;
	max-width: 450px;
	width: 100%;
}

