

.status-bar {
	width: 100%;
	background-color: #e0e0e0;
	padding: 3px;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
	position: relative;
}

.status-bar-fill {
	display: block;
	height: 22px;
	background-color: #659cef;
	border-radius: 3px;
	
	transition: width 500ms ease-in-out;
}

.status-bar-text{
	position: absolute;
    left: calc(50% - 10px);
    color: #ffffff;
    font: 20px var(--font-primary);
    top: 1px;
    text-shadow: 1px 1px 0 #005ecc;
}