
.upload-photo{
    width: 150px !important;
    height: 150px !important;
    margin: 0 auto;
    display: flex;
    margin-bottom: 15px;
}
.uploadfile{
    position: relative;
    text-align: center;
    margin: 20px auto;
}

.inputfile{
    opacity: 0;
    z-index: -1;
    height: 1px;
    width: 100%;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    
    /* 4px */
    margin-right: 7px;
    /* 4px */
}


/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid var(--color-secondary-light);
    background-color: var(--color-grey-light);
    padding: 0;
    width: 100%;
    position: relative;
    z-index: 2;
    height: 55px;
    margin: 0;
    padding: 0;
    display: flex;
    min-width: 100%;
    transition: all .3s ease;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: var(--color-primary-black);
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: calc(100% - 150px);
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    color: var(--color-primary);
    /* justify-content: center; */
    align-items: center;
    display: inline-flex;
}

.inputfile-6 + label strong {
    height: 100%;
    color: var(--color-grey-light);
    background-color: var(--color-secondary-light);
    display: inline-block;
    position: absolute;
    right: 0;
    font: 16px var(--font-primary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    WIDTH: 155PX;
    padding: 0;
    align-items: center;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: var(--color-primary-black);
    color: white;
}

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
    }
}

