/*
 * Profile.css
 * @author mfyance
 */

.profile--is-active profile-main,
.profile:hover{
	background: var(--color-secondary);
}
profile-main{
	background-color: var(--color-secondary-light);
	max-width: 400px;
	padding: 10px;
	position: relative;
	cursor: pointer;
	transition: all .3s ease;
	width: 100%;
	position: relative;
}

.profile-text--is-blue{
	color: var(--color-secondary);
}	
.profile-text--is-white{
	color: white;
}
.profile-text{
	
	display: inline-block;
	font: 2rem var(--font-primary);
}

[profile-img]{
	width: 54px;
	height: 54px;
	border-radius: 50%;
	border: 2px solid var(--color-primary);
	object-fit: cover;
}

.profile-photo{	
	display: inline-block;		
	vertical-align: middle;
}

.profile-icon{
	position: absolute;
	right: 11px;
	top: calc(50% - 7px);
}




.profile--is-active profile-detail{
	transform: translateX(0%);
}
profile-detail{
	display: block;
	position: fixed;
	top: 75px;
	right: 0;
	width: 300px;
	background: #fff;
	z-index: 2;
	height: 100vh;
	/* padding: var(--padding-20); */
	display: flex;
	flex-direction: column;
	box-shadow: 0 7px 7px #b4b4b4;
	transform: translateX(140%);
	transition: all .3s ease
}

profile-detail-content{	
	padding: var(--padding-20);		
	display: flex;		
	flex-direction: column;		
	align-items: center;		
	background: var(--color-skyblue);
}
profile-detail-menu{
	padding: var(--padding-20);
}
.profile-detail-menu-option{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	cursor: pointer;
}
.profile-detail-menu-option:hover .profile-detail-menu-option-text,
.profile-detail-menu-option:hover .profile-detail-menu-option-icon{
	color: var(--color-primary)
}
.profile-detail-menu-option-icon{
	color: var(--color-menu);
}
.profile-detail-menu-option-text{	
	margin-left: 10px;	
	font: 1.5rem var(--font-secondary);		
	color: var(--color-menu);
}



@media only screen and (max-width: 1000px){
	profile-detail{
		top: 111px;
	}
}