html,body{
  margin:0;
  padding:0;
}

*{
  list-style:none;
  padding:0;
  margin:0;
}

.loading{
  position: absolute;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  background: #c3c3c359;
  display:none;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

body.cargando .loading {
  display: inherit;
}
body.cargando header, body.cargando main {
  filter:blur(4px);
}
body header, body main {
  filter:blur(0);
}

header ul{
  display:flex;
  flex-direction:row;
}

header ul li{
  background:white;
  padding:5px;
  margin-right:5px;
  cursor:pointer;
}

main{
display:flex;
background:antiquewhite;
justify-content:center;
}

main .formulario, main .resultados{
width:400px;
background:#e9ffbd;
padding:10px;

}

main .formulario .group{
padding:10px 10px 20px 10px;
position:relative;

}
main .formulario .group span{
  position:absolute;
  left:15px;
  bottom:0;
  background:red;
  color:white;
  padding:3px;
  font-size:11px;
}
main .formulario .group i{
  position:absolute;
  right:150px;
  bottom:0;
  background:#156bd2;
  border-radius:5px;
  color:white;
  padding:3px;
  font-size:11px;
}

/* Estilo de Carga */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
