/*
 * Profile.css
 * @author mfyance
 */




.main-proyect{
	font-family: var(--font-primary)
}





.button-primary:active{
	transform: scale(0.95)
}
.button-primary:disabled{
	background-color: var(--color-disabled);
	color: #ccc;
	cursor: not-allowed;
}
.button-primary:hover:not(:disabled){
	background-color: #003f88;
}
.button-primary{
	border-radius: 10px;
	background: var(--color-secondary-black);
	color: white;
}

.button-secondary:hover{
	background-color: var(--color-secondary-black);
}
.button-secondary{
	border-radius: 10px;
	background: var(--color-purple-aside);
	color: white;
}
.menu-option-active .button--is-icon,
.button-tab:hover .button--is-icon{
	opacity: 1;
}
.button--is-icon{
	opacity: 0.5;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 32px !important;
	transition: opacity .3s ease;
}
.button-tab:hover .button--is-arrow{
	opacity: 1;
}
.button--is-arrow{
	opacity: 0.5;
	position: absolute;
	right: 5px;
	top: calc(50% - 20px);
	font-size: 40px !important;
	transition: all .3s ease;
	z-index: 0;
}
.button-tab:hover .button-tab-name{
	opacity: 1;
}
.button-tab-name{
	color: white;
	opacity: 0.5;
	transition: opacity .2s ease
}

.button-tab:hover{
	box-shadow: inset 15px 0 0 var(--color-primary);
	/* background: #000; */
}
.button-tab{
	padding: 15px 25px;
	background: var(--color-menu);
	color: white;
	display: block;
	width: 100%;
	text-align: left;
	font: 2rem var(--font-primary);
	position: relative;
	transition: box-shadow .1s ease;
	border: 0;
	border-top: 1px solid #151515;
	display: inline-flex;
	align-items: center;
}
.menu-option-active .button-tab-content{
	
}
.menu-option-active .button-tab{
	background: var(--color-secondary);
	box-shadow: inset 15px 0 0 var(--color-primary);
}
.menu-option-active .button-tab-name{
	opacity: 1;
}
.menu-option-active .button--is-arrow{
	opacity: 1;
}



menu-option{
	display: block;
}

.button-tab-content{
	display: none;
}
.button-tab-content-ul{
	background: var(--color-bg-aside);
	padding: 10px;
}
.button-tab-content-li{		
	padding-left: 55px;
}

.button-tab-content--is-active a,
.button-tab-content-a:hover{
	color: white
}
.button-tab-content--is-active a:after,
.button-tab-content-a:hover:after{
	opacity: 1;
}
.button-tab-content-a:after{
	content:'trip_origin';
	font-family: 'Material Icons';
	position: absolute;
	top: 12px;
	left: -22px;
	font-size: 14px;
	opacity: 0;
}

.button-tab-content-a{
	position: relative;
	height: 38px;
	display: flex;
	align-items: center;
	color: #8B90A9;
	font: 1.6rem var(--font-secondary);
}


